<div data-role="header" data-theme="b" style="border-color:#50a7e6">
  <h1 id="main-title"><%=link_to "이지트위터", recent_tweets_path, {style:"color:#ffffff;text-shadow:none"} %></h1>
  <a href="#left-panel" data-theme="a" data-icon="arrow-r" data-iconpos="notext" data-shadow="false" 
  data-iconshadow="false" class="ui-icon-nodisc">왼쪽패널</a>
  <a href="#right-panel" data-theme="a" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" 
  data-iconshadow="false" class="ui-icon-nodisc">오른쪽패널</a>
</div><!-- /header -->
