<div data-role="header" data-theme="b">
  <h1>이지트위터</h1>
  <a href="#left-panel" data-theme="a" data-icon="arrow-r" data-iconpos="notext" data-shadow="false" 
  data-iconshadow="false" class="ui-icon-nodisc">왼쪽패널</a>
  <a href="#right-panel" data-theme="a" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" 
  data-iconshadow="false" class="ui-icon-nodisc">오른쪽패널</a>
</div><!-- /header -->
