<div data-role="panel" id="left-panel" data-theme="c" data-display="push">
  <!--<a href="#main-page" data-rel="close" data-role="button">Close</a>-->
  <%= render :partial => "tweets/category" %>
</div>
