<ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="a" data-count-theme="b">
  <li data-role="list-divider">
    Category
  </li>
  <%@categories.each do |category| %>
    <li>
      <%= link_to category.name, recent_categories_path(category) %>
    </li>
<%end%>
</ul>

