<ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="a" data-count-theme="b">
  <li data-role="list-divider">
    정렬방법
  </li>
  <li>
    <%= link_to "인기순", tweets_path %>
  </li>
  <li>
    <%= link_to "최신순", recent_tweets_path %>
  </li>
  <li>
    <%= link_to "인물순", people_tweets_path %>
  </li>
</ul>

