#main{
  .side{
    width:20%;
    float:left;
    margin-top: 30px;

    #category-list{
      padding:15px 15px 15px 5px;
      font-size:25px;
      li{
        line-height:30px;
        padding:20px 20px 20px 5px;
      }
    }
  }
}
