#trends{
  float:right;
  width:20%;
  margin-top:30px;
  #trend-list{
    padding:15px 15px 15px 5px;
    font-size:25px;
    li{
      line-height:30px;
      padding:20px 20px 20px 5px;
    }
  }
}
