// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main{
  position:relative;
  min-height:100%;
  margin: 0 auto;
  padding: 54px 14px 15px;
  width: 837px;
  overflow:hidden;
  
  .mini-profile{
    font-size:12px;

    .profile-summary{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: yellow;

      .content{
        margin-left:42px;
        margin-right:20px;

        .user-desc{
          display:block;
          float:right;
          padding: 10px 0;
          font-size:14px;
          color:#333;
        }
        .user-image{
          height:32px;
          img{
            width:32px;
            height:32px;
          }
        }
      }
    }
  }

  .content-main{
    width: 70%;
    border: 1px solid #e8e8e8;
    margin: 30px auto 0px;
    border-radius: 6px;
    float:right;
    .content-header{
      .text{
        //float:left;
      }
    }
    .content-tweet{
      list-style:none;
      margin-left:0;
      position:relative;
      clear:both;
      .tweet-items{
        line-height:25px;
        >li{
          padding: 12px;
          border-bottom: 1px solid #e8e8e8;
          overflow: hidden;
        }

        .content{
          margin-left: 58px;

          .header{
            margin-bottom: 5px;
            img{
              display:block;
              float:left;
              margin-left: -58px;
            }

            span.date{
              float:right;
            }
          }

          .footer{
            position:relative;
            display:inline-block;
            float:right;
            margin-top:19px;
            ul{
              li{
                float:left;
                padding-right:10px;

                a{
                  .icon{
                    display:inline-block;
                    margin: 0;
                    img{
                      margin-top:1px;
                      width:20px;
                      height:15px;
                    }
                  }

                  .retweet{
                    line-height:0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
