// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main{
  position:relative;
  min-height:100%;
  margin: 0 auto;
  padding: 54px 14px 15px;
  width: 837px;
  
  .dashboard{
    border : 1px solid;
    width:302px;
    float:left;
  }

  .mini-profile{
    font-size:12px;

    .profile-summary{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .user-desc{
        display:block;
        float:right;
      }

      .user-image{
        img{
          width:32px;
          height:32px;
        }
      }
    }
  }
}
