// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main{
  position:relative;
  min-height:100%;
  margin: 0 auto;
  padding: 54px 14px 15px;
  width: 837px;
  
  .dashboard{
    border : 1px solid;
    width:302px;
    float:left;
  }

  .mini-profile{
    font-size:12px;

    .profile-summary{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: yellow;

      .content{
        margin-left:42px;
        margin-right:20px;

        .user-desc{
          display:block;
          float:right;
          padding: 10px 0;
          font-size:14px;
          color:#333;
        }
        .user-image{
          height:32px;
          img{
            width:32px;
            height:32px;
          }
        }
      }
    }
  }

  .content-main{
    width:522px;
    border: 1px solid;
    margin: 0 auto;
    //float:right;

    .content-header{
      border-bottom: 1px solid;

      .header-inner{
        padding: 12px;
      }
    }

    .content-tweet{
      list-style:none;
      margin-left:0;
      position:relative;

      .tweet-items{
        line-height:25px;
        >li{
          padding: 12px;
          border-bottom: 1px solid;
          overflow: hidden;
        }

        .content{
          margin-left: 58px;

          .header{
            margin-bottom: 5px;
            img{
              display:block;
              float:left;
              margin-left: -58px;
            }

            span.date{
              float:right;
            }
          }

          .footer{
            position:relative;
            display:inline-block;
            float:right;
            ul{
              li{
                float:left;
                padding-right:10px;

                a{
                  .icon{
                    display:inline-block;
                    margin: 0;
                    img{
                      margin-top:1px;
                      width:20px;
                      height:15px;
                    }
                  }

                  .retweet{
                    line-height:0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  nav.pagination div.contents{
    text-align: center;
    padding: 15px;

    span{
      padding: 0 10px;
      a{
        color: black;
        border: 1px solid #ccc;
        padding: 5px;
      }
    }
  }
}
