<div id="tweet-category" class="white-background content-border">
  <ul>
    <%@categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category) %>
      </li>
    <%end%>
  </ul>
</div>
