<div class="dashboard white-background">
  <div class="text">
    <h1>Must Item For Designer</h1>
    <h2>유명 디자이너의 트윗을 인기순대로 모아보세요.</h2>
  </div>
  <div class="ios">
    <%=image_tag image_path("iOS-7.png")%>
  </div>
  <div class="market">
    <span class="available">Soon Available</span>
    <%= link_to root_path, :class => "apple" do%>
      <%=image_tag image_path("app-stopre.png"), :class=>"store"%>
    <% end %>
  </div>
</div>
