<div class="dashboard white-background">
  <div class="mini-profile">
    <div class="profile-summary">
      <div class="content">
        <span class="user-image">
          <%=image_tag("")%>
        </span>
        <span class="user-desc"></span>
      </div>
    </div>
  </div>
</div>
