<div class="footer">
  <ul class="tweet-actions">
    <li>
    <%= link_to "#", :class => "retweet"  do%>
      <span class="icon">
      <%=image_tag image_path("custom-icon-retweet.png") %>
    </span>
    <b>
      Retweet
    </b>
  <%end%>
    </li>
    <li>
    <%= link_to "#", :class => "favorite"  do%>
      <span class="icon">
      <%=image_tag image_path("star.png") %>
    </span>
    <b>
      Favorite
    </b>
  <%end%>
    </li>
  </ul>
</div>
