<div id="main">
  <div class="dashboard">
    <div class="mini-profile">
      <div class="profile-summary">
        <span class="user-image">
          <%=image_tag("https://pbs.twimg.com/profile_images/1219763963/myProfileImage.jpg")%>
        </span>
        <span class="user-desc">belhyun</span>
      </div>
    </div>
  </div>
  <div class="content-main" role="main">
  </div>
</div>
