body{
  color: #333;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color:rgb(192,222,237);
  background-repeat:no-repeat;
  
  ul,ol{
    margin:0;
    padding:0;
    list-style:none;
  }

  h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
  }

  a{
    text-decoration:none;
    color:rgb(221,221,221);
  }
}
