nav.pagination div.contents{
  text-align: center;
  padding: 15px;
  font-size:20px;
  clear:both;
  span{
    padding: 0 10px;
    a{
      color: black;
      border: 2px solid #50A7E6;
      border-radius:15px;
      padding: 5px;
    }
  }
}

