body{
  height:100%;
  display:block;

  .topbar{
    background-color: #fff;
    //border: 1px solid rgba(0,0,0,0.15);
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 100;
    height:40px;
  }

  .global-nav{
    position: relative;
    width:100%;
    height:40px;

    .container{
      width:865px;
      text-align:center;

      .brand{
        float:left;
        height:40px;
        margin-left: -50px;
        img{
          display:block;
          height:100%;
        }
      }
    }

    [role=navigation]{
      float:left;
      display:inline-block;
    }
    .pull-right{
      float:right;
    }
  }

  .container{
    position:relative;
    margin:0 auto;
  }

  .nav{
    text-align:center;
    float:left;
    #global-nav-home{
      img{
        width:37px;
        height:37px;
      }
    }
    #global-nav-me{
      margin-left: 25px;
      img{
        top:5px;
        height:40px;
      }
    }
    >li{
      float:left;
      >a{
        /*
        display:block;
        font-weight:bold;
        line-height:1;
        height:12px;
        padding:13px 12px 15px;
        */
      }
    }
  }
}

.wrapper{
  padding-bottom:0;
}
