body{
  height:100%;
  display:block;

  .topbar{
    background-color: yellow;
    border: 1px solid;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 100;
  }

  .global-nav{
    position: relative;
    width:100%;
    height:40px;

    .container{
      width:865px;
      text-align:center;
    }

    [role=navigation]{
      float:left;
      display:inline-block;
    }
  }

  .container{
    position:relative;
    margin:0 auto;
  }

  .nav{
    text-align:center;
    float:left;

    >li{
      float:left;
      >a{
        display:block;
        font-weight:bold;
        line-height:1;
        text-decoration:none;
        height:12px;
        padding:13px 12px 15px;
      }
    }
  }
}

.wrapper{
  padding-bottom:0;
}
