<div id="dialog-confirm" title="Easy Twitter" style="height: 50px">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you agree with twitter Login?</p>
</div>

<div id="dialog-already" title="Easy Twitter" style="height: 50px">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You've already requested</p>
</div>

<div id="dialog-success" title="Easy Twitter" style="height: 50px">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Success</p>
</div>
