<div id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 스카이스크래퍼 -->
<ins class="adsbygoogle"
   style="display:inline-block;width:120px;height:600px"
   data-ad-client="ca-pub-4778850952946904"
   data-ad-slot="4593540477"></ins>
 <script>
(adsbygoogle = window.adsbygoogle || []).push({});
 </script>
 </div>
