<div id="tweet-category" class="side white-background content-border">
  <div class="content-header">
    <div class="header-inner">
      <h2>Category</h2>
    </div>
  </div>
  <ul id="category-list">
    <%@categories.each do |category| %>
      <li>
        <%= link_to category.name, recent_categories_path(category) %>
      </li>
    <%end%>
  </ul>
</div>
