<div class="topbar">
  <div class="global-nav">
    <div class="global-nav-inner">
      <div class="container">
        <%=link_to root_path, :class => "brand" do%>
        <%end%>
        <div role="navigation">
          <ul class="nav">
            <li id="global-nav-home" class="home">
            </li>
            <li id="global-nav-me">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
