<div class="topbar">
  <div class="global-nav">
    <div class="global-nav-inner">
      <div class="container">
        <div role="navigation">
          <ul class="nav">
            <li id="global-nav-home" class="home">
              <%= link_to root_path do%>
                <span></span>
                <span class="text">Home</span>
              <% end %>
            </li>
            <li id="global-nav-me">
              <%= link_to root_path do%>
                <span></span>
                <span class="text">Me</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
